flow.json
[{"id":"c2e45a03.9fb558","type":"tab","label":"[Jbbs] Dashboard","disabled":false,"info":""},{"id":"ec38d5e7.788888","type":"tab","label":"[Jbbs] Indicatori","disabled":false,"info":""},{"id":"366e0232.2ec6fe","type":"tab","label":"[Jbbs] Comandi Manuali","disabled":false,"info":""},{"id":"80f43cb5.c4184","type":"ui_group","z":"","name":"Mash","tab":"fd5c08b9.9948d8","order":3,"disp":false,"width":"6"},{"id":"ce7004f2.065228","type":"sqlitedb","z":"","db":"/data/jbbs/jbbs.sqlite","mode":"RO"},{"id":"95ee75b7.3ee688","type":"ui_group","z":"","name":"Elenco Ricette","tab":"4c9d9670.832f48","disp":true,"width":"6"},{"id":"3174b2d6.a4683e","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.3","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"27b14f07.3002f","type":"ui_group","z":"","name":"Boil","tab":"fd5c08b9.9948d8","order":4,"disp":false,"width":"6"},{"id":"86264522.4140e8","type":"ui_group","z":"","name":"Sparge","tab":"fd5c08b9.9948d8","order":2,"disp":false,"width":"6"},{"id":"fd5c08b9.9948d8","type":"ui_tab","z":"","name":"Jbbs","icon":"dashboard","order":2},{"id":"4c9d9670.832f48","type":"ui_tab","z":"","name":"Recipe","icon":"dashboard","order":1},{"id":"a951f552.c2bb08","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"true","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"76b9898f.79e5c8","type":"ui_template","z":"c2e45a03.9fb558","group":"80f43cb5.c4184","name":"stepMashTable","order":4,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n<span flex>Ricetta:</span>\n<span flex> {{msg.payload[0].ricetta}}</span>\n<span flex></span>\n<span flex>\n\t<md-button class=\"md-icon-button\" ng-click=\"send({topic: 'select * from Recipe'})\">\n\t\t<ng-md-icon icon=\"list\"></ng-md-icon>\n\t</md-button>\n</span>\n</div>\n\n<div layout=\"row\" layout-align=\"start center\">\n\t<span flex>Step</span>\n\t<span flex style=\"text-align : right;\">°C</span>\n\t<span flex style=\"text-align : right;\">Durata</span>\n\t<span flex>\n         <md-button class=\"md-icon-button\" ng-click=\"send({payload: -1})\">\n              <ng-md-icon icon=\"stop\"></ng-md-icon>\n          </md-button>\n\t</span>\n</div>\n\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"step in msg.payload\">\n\t<span flex >{{step.desc}}</span>\n\t<span flex style=\"text-align : right;\">{{step.temp}}</span>\n\t<span flex style=\"text-align : right;\">{{step.time}}</span>\n\t<span flex >\n\t\t<md-button class=\"md-icon-button\" ng-click=\"send({payload: $index})\">\n\t\t     <ng-md-icon icon=\"play_arrow\"></ng-md-icon>\n\t    </md-button>\n\t</span>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":370.32269287109375,"y":456.88909912109375,"wires":[["434e55e3.fecb1c"]]},{"id":"e8c5a1a5.da80f","type":"sqlite","z":"c2e45a03.9fb558","mydb":"ce7004f2.065228","sql":"","name":"jbbs","x":197.56663513183594,"y":372.1333312988281,"wires":[["76b9898f.79e5c8","9083265e.954b28"]]},{"id":"85837438.78a2b8","type":"ui_ui_control","z":"c2e45a03.9fb558","name":"openTab","x":660,"y":160,"wires":[[]]},{"id":"8a67b9ce.b84df8","type":"ui_template","z":"c2e45a03.9fb558","group":"95ee75b7.3ee688","name":"RecipeTable","order":4,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n\t<span flex>Descrizione</span>\n\t<span flex></span>\n</div>\n\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"recipe in msg.payload\">\n\t<span flex >{{recipe.id}}</span>\n\t<span flex >{{recipe.desc}}</span>\n\t<span flex >\n\t   <md-button class=\"md-icon-button\" ng-click=\"send({payload: recipe})\">\n\t        <ng-md-icon icon=\"play_arrow\"></ng-md-icon>\n\t   </md-button>\n\t</span>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":458.5332908630371,"y":219.75558757781982,"wires":[["e86848fd.1642a8","d2f86adf.bf70a8"]]},{"id":"4cfd3e86.e6ec1","type":"function","z":"c2e45a03.9fb558","name":"Splitter","func":"var msgTab = { \"payload\" : \"Recipe\" }\nreturn [msg, msgTab];","outputs":"2","noerr":0,"x":464.90009689331055,"y":166.2000560760498,"wires":[["8a67b9ce.b84df8"],["85837438.78a2b8"]]},{"id":"daea6839.062de8","type":"sqlite","z":"c2e45a03.9fb558","mydb":"ce7004f2.065228","sql":"","name":"jbbs","x":193.86666870117188,"y":222.42222595214844,"wires":[["4cfd3e86.e6ec1"]]},{"id":"e86848fd.1642a8","type":"function","z":"c2e45a03.9fb558","name":"SelectMashSteps","func":"var msgTab = { \"payload\" : \"Jbbs\" };\n\n\nvar id = msg.payload.id;\n\nmsg.topic = \"select s.*, r.desc as 'ricetta' \";\nmsg.topic += \" from step as s \";\nmsg.topic += \" inner join recipe as r \";\nmsg.topic += \" on s.idRicetta =r.id \";\nmsg.topic += \" where s.idRicetta=\" + id;\nmsg.topic += \" order by prog;\";\nreturn [msgTab, msg];","outputs":"2","noerr":0,"x":477.5333595275879,"y":265.75561809539795,"wires":[["85837438.78a2b8"],["e8c5a1a5.da80f"]]},{"id":"290c0637.f3730a","type":"mqtt out","z":"c2e45a03.9fb558","name":"","topic":"dashboard/mash/start","qos":"2","retain":"","broker":"3174b2d6.a4683e","x":820,"y":440,"wires":[]},{"id":"969d98b0.5cd018","type":"mqtt out","z":"c2e45a03.9fb558","name":"","topic":"dashboard/mash/load","qos":"2","retain":"","broker":"3174b2d6.a4683e","x":820,"y":380,"wires":[]},{"id":"9083265e.954b28","type":"function","z":"c2e45a03.9fb558","name":"0=>False, 1=>True","func":"for (var ind in msg.payload) {\n    if (msg.payload[ind].pump === 0) {\n        msg.payload[ind].pump = false;\n    } else {\n        msg.payload[ind].pump = true;\n    }\n}\nreturn msg","outputs":"1","noerr":0,"x":448.8666343688965,"y":368.8666887283325,"wires":[["969d98b0.5cd018"]]},{"id":"205c3e4d.64aae2","type":"mqtt out","z":"c2e45a03.9fb558","name":"","topic":"dashboard/mash/stop","qos":"2","retain":"","broker":"3174b2d6.a4683e","x":820,"y":500,"wires":[]},{"id":"92b33e45.46492","type":"inject","z":"c2e45a03.9fb558","name":"","topic":"select * from Recipe","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":165.33331680297852,"y":122.7999677658081,"wires":[["daea6839.062de8"]]},{"id":"434e55e3.fecb1c","type":"switch","z":"c2e45a03.9fb558","name":"Switch send","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"gte","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","outputs":3,"x":559.2333106994629,"y":456.46667766571045,"wires":[["daea6839.062de8"],["290c0637.f3730a"],["205c3e4d.64aae2","7afd8bf4.f8bf24"]]},{"id":"56dfa90e.ee74d8","type":"ui_template","z":"c2e45a03.9fb558","group":"27b14f07.3002f","name":"stepBoilTable","order":4,"width":"6","height":"4","format":"<div layout=\"row\" layout-align=\"start center\">\n\t<span flex>Step</span>\n\t<span flex style=\"text-align : right;\">Durata</span>\n\t<span flex>\n         <md-button class=\"md-icon-button\" ng-click=\"send({payload: -1})\">\n              <ng-md-icon icon=\"stop\"></ng-md-icon>\n          </md-button>\n\t</span>\n</div>\n\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"step in msg.payload\">\n\t<span flex >{{step.desc}}</span>\n\t<span flex style=\"text-align : right;\">{{step.time}}</span>\n\t<span flex >\n\t\t<md-button class=\"md-icon-button\" ng-click=\"send({payload: $index})\">\n\t\t     <ng-md-icon icon=\"play_arrow\"></ng-md-icon>\n\t    </md-button>\n\t</span>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":440,"y":700,"wires":[["9bd3a506.baaa28"]]},{"id":"ebeea9fd.12d0e8","type":"sqlite","z":"c2e45a03.9fb558","mydb":"ce7004f2.065228","sql":"","name":"jbbs","x":730,"y":280,"wires":[["3ef277c.c028f88"]]},{"id":"d2f86adf.bf70a8","type":"function","z":"c2e45a03.9fb558","name":"SelectBoilSteps","func":"var id = msg.payload.id;\n\nmsg.topic = \"select * \";\nmsg.topic += \" from boilstep \";\nmsg.topic += \" where idRicetta=\" + id;\nmsg.topic += \" order by prog;\";\nreturn (msg);","outputs":"1","noerr":0,"x":700,"y":220,"wires":[["ebeea9fd.12d0e8"]]},{"id":"6cf51eac.5a8d4","type":"mqtt out","z":"c2e45a03.9fb558","name":"","topic":"dashboard/boil/start","qos":"2","retain":"","broker":"3174b2d6.a4683e","x":810,"y":660,"wires":[]},{"id":"3ef277c.c028f88","type":"mqtt out","z":"c2e45a03.9fb558","name":"","topic":"dashboard/mash/loadboil","qos":"2","retain":"","broker":"3174b2d6.a4683e","x":970,"y":260,"wires":[]},{"id":"1b17b0e9.0065af","type":"mqtt out","z":"c2e45a03.9fb558","name":"","topic":"dashboard/boil/stop","qos":"2","retain":"","broker":"3174b2d6.a4683e","x":810,"y":740,"wires":[]},{"id":"9bd3a506.baaa28","type":"switch","z":"c2e45a03.9fb558","name":"Switch send","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":620,"y":700,"wires":[["6cf51eac.5a8d4"],["1b17b0e9.0065af"]]},{"id":"7afd8bf4.f8bf24","type":"mqtt out","z":"c2e45a03.9fb558","name":"","topic":"dashboard/sparge/stop","qos":"2","retain":"","broker":"3174b2d6.a4683e","x":820,"y":560,"wires":[]},{"id":"4df0915a.6fadb","type":"mqtt in","z":"c2e45a03.9fb558","name":"mash/boil/load","topic":"mash/boil/load","qos":"2","datatype":"auto","broker":"3174b2d6.a4683e","x":150,"y":700,"wires":[["6a88c64.4472238"]]},{"id":"6a88c64.4472238","type":"json","z":"c2e45a03.9fb558","name":"","pretty":false,"x":290,"y":700,"wires":[["56dfa90e.ee74d8"]]},{"id":"12698eb3.5102b1","type":"json","z":"ec38d5e7.788888","name":"","pretty":false,"x":310,"y":280,"wires":[["4ca797c5.609b48","56a1d30e.865a4c","59db7fe8.ebcf"]]},{"id":"bc98ef50.f736d","type":"mqtt in","z":"ec38d5e7.788888","name":"mash/status","topic":"mash/status","qos":"0","datatype":"auto","broker":"3174b2d6.a4683e","x":114.22212219238281,"y":280,"wires":[["12698eb3.5102b1"]]},{"id":"4ca797c5.609b48","type":"ui_template","z":"ec38d5e7.788888","group":"80f43cb5.c4184","name":"Mash Temp Gauge","order":1,"width":"0","height":"0","format":"<script src=\"/myjs/myGauge-min.js\"></script>\n<script>\nvar radial4;\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.payload.desc) != \"undefined\") radial4.setUnitString(msg.payload.desc);\n           if (typeof(msg.payload.tempActual) != \"undefined\") radial4.setValue(msg.payload.tempActual);\n//           if (typeof(msg.payload.max) != \"undefined\") radial4.setMaxValue(msg.payload.max);\n//           if (typeof(msg.payload.tempStart) != \"undefined\") radial4.setMinValue(msg.payload.tempStart);\n           if (typeof(msg.payload.tempTarget) != \"undefined\") radial4.setThreshold(msg.payload.tempTarget);\n           if (typeof(msg.payload.pump) != \"undefined\") {\n\t\t\t\tradial4.blinkUserLed(msg.payload.pump); \n\t\t\t\tradial4.setUserLedOnOff(msg.payload.pump); \n\t\t\t}\n           if (typeof(msg.payload.fire) != \"undefined\") {\n\t\t\t\tradial4.blinkLed(msg.payload.fire); \n\t\t\t\tradial4.setLedOnOff(msg.payload.fire); \n\t\t\t}\n           if (typeof(msg.payload.trend) != \"undefined\")\n            {\n                if (msg.payload.trend==1)     radial4.setTrend(steelseries.TrendState.UP);\n                if (msg.payload.trend==0)     radial4.setTrend(steelseries.TrendState.STEADY);\n                if (msg.payload.trend==-1)    radial4.setTrend(steelseries.TrendState.DOWN);\n                if (msg.payload.trend==-2)    radial4.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(20, 50, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(50, 70, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(70, 80, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(70, 80, 'rgba(220, 0, 0, 0.3)')],\n\n    radial4 = new steelseries.Radial('canvasRadial4', {\n            gaugeType: steelseries.GaugeType.TYPE4,\n            size: 292,\n            section: sections,\n            area: areas,\n            titleString: \"Mash\",\n            unitString: \"\",\n            threshold: 0,\n            thresholdRising: false,\n            userLedVisible: true,\n            useOdometer: false,\n            lcdVisible: false,\n            trendVisible: true,\n\t\t\tuserLedColor: steelseries.LedColor.BLUE_LED,\n\t\t\tPointerType: steelseries.PointerType.TYPE11,\n\t\t\tFrameDesign: steelseries.FrameDesign.BLACK_METAL,\n\t\t\tframeVisible: false,\n\t\t\tminValue : 20,\n\t\t\tmaxValue : 80\n        });\n                       \n//    radial4.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radial4.setValue(0);\n    radial4.setThreshold(0);\n    radial4.blinkUserLed(0);\n//\tradial4.setPointerType(steelseries.PointerType.TYPE11)\n\n\n</script>\n\n<canvas id=\"canvasRadial4\" width=\"401\" height=\"401\"></canvas>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":590,"y":280,"wires":[[]]},{"id":"9ce852da.11bc3","type":"ui_template","z":"ec38d5e7.788888","group":"80f43cb5.c4184","name":"Mash Time Bar","order":3,"width":"6","height":"1","format":"<div layout=\"row\" layout-align=\"space-between center\">\n{{msg.payload.timeStart}}<progress value={{msg.progress}} max=\"100\"></progress>{{msg.payload.timeFinish}}\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":605.1555023193359,"y":332.8223114013672,"wires":[[]]},{"id":"56a1d30e.865a4c","type":"function","z":"ec38d5e7.788888","name":"","func":"if (msg.payload.timeFinish) {\n    msg.progress = 100 * (Date.now() - msg.payload.timeStart*1000) / (1000 * (msg.payload.timeFinish -msg.payload.timeStart));\n    data = new Date(msg.payload.timeStart * 1000);\n    msg.payload.timeStart = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n    data = new Date(msg.payload.timeFinish * 1000);\n    msg.payload.timeFinish = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n} else {\n    msg.progress = 0\n    msg.payload.timeStart = \"--:--\";\n    msg.payload.timeFinish = \"--:--\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":445.7554626464844,"y":332.4223175048828,"wires":[["9ce852da.11bc3"]]},{"id":"59ecba0.a8c0248","type":"ui_template","z":"ec38d5e7.788888","group":"86264522.4140e8","name":"Sparge Temp Gauge","order":1,"width":"0","height":"0","format":"<script src=\"/myjs/myGauge-min.js\"></script>\n<script>\nvar radialSparge;\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n            if (typeof(msg.payload.desc) != \"undefined\") radialSparge.setUnitString(msg.payload.desc);\n            if (typeof(msg.payload.tempActual) != \"undefined\") radialSparge.setValue(msg.payload.tempActual);\n            if (typeof(msg.payload.tempTarget) != \"undefined\") radialSparge.setThreshold(msg.payload.tempTarget);\n            if (typeof(msg.payload.boilValve) != \"undefined\") {\n//\t\t\t\tradialSparge.blinkUserLed(msg.payload.boilValve);\n\t\t\t\tradialSparge.setUserLedOnOff(msg.payload.boilValve);\n\t\t\t}\n            if (typeof(msg.payload.fire) != \"undefined\") {\n\t\t\t\tradialSparge.blinkLed(msg.payload.fire);\n\t\t\t\tradialSparge.setLedOnOff(msg.payload.fire);\n\t\t\t}\n            if (typeof(msg.payload.trend) != \"undefined\")\n            {\n                if (msg.payload.trend==1)     radialSparge.setTrend(steelseries.TrendState.UP);\n                if (msg.payload.trend==0)     radialSparge.setTrend(steelseries.TrendState.STEADY);\n                if (msg.payload.trend==-1)    radialSparge.setTrend(steelseries.TrendState.DOWN);\n                if (msg.payload.trend==-2)    radialSparge.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(20, 76, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(76, 80, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(80, 90, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(76, 80, 'rgba(0, 220, 0, 0.3)')],\n\n    radialSparge = new steelseries.Radial('canvasRadialSparge', {\n            gaugeType: steelseries.GaugeType.TYPE4,\n            size: 292,\n            section: sections,\n            area: areas,\n            titleString: \"Sparge\",\n            unitString: \"\",\n            threshold: 0,\n            thresholdRising: false,\n            userLedVisible: true,\n            useOdometer: false,\n            lcdVisible: false,\n            trendVisible: true,\n//\t\t\tuserLedColor: steelseries.LedColor.BLUE_LED,\n\t\t\tPointerType: steelseries.PointerType.TYPE11,\n\t\t\tFrameDesign: steelseries.FrameDesign.BLACK_METAL,\n\t\t\tframeVisible: false,\n\t\t\tminValue : 20,\n\t\t\tmaxValue : 90\n        });\n                       \n//    radial4.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radialSparge.setValue(0);\n    radialSparge.setThreshold(0);\n    radialSparge.blinkUserLed(0);\n//\tradial4.setPointerType(steelseries.PointerType.TYPE11)\n\n\n</script>\n\n<canvas id=\"canvasRadialSparge\" width=\"401\" height=\"401\"></canvas>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":440,"y":60,"wires":[[]]},{"id":"486b3a37.5fab34","type":"mqtt in","z":"ec38d5e7.788888","name":"sparge/status","topic":"sparge/status","qos":"0","datatype":"auto","broker":"3174b2d6.a4683e","x":112,"y":62,"wires":[["50d1c43a.f7552c"]]},{"id":"50d1c43a.f7552c","type":"json","z":"ec38d5e7.788888","name":"","pretty":false,"x":230,"y":120,"wires":[["59ecba0.a8c0248","794a0f37.202ac","988972b.2bb819"]]},{"id":"eca9c3e8.39b99","type":"ui_template","z":"ec38d5e7.788888","group":"27b14f07.3002f","name":"Boil Temp Gauge","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<script src=\"/myjs/myGauge-min.js\"></script>\n<script>\nvar radialBoil;\n    (function(scope){\n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.payload.desc) != \"undefined\") radialBoil.setUnitString(msg.payload.desc);\n           if (typeof(msg.payload.tempActual) != \"undefined\") radialBoil.setValue(msg.payload.tempActual);\n           if (typeof(msg.payload.tempTarget) != \"undefined\") radialBoil.setThreshold(msg.payload.tempTarget);\n           if (typeof(msg.payload.bigFire) != \"undefined\") {\n\t\t\t\tradialBoil.blinkUserLed(msg.payload.bigFire); \n\t\t\t\tradialBoil.setUserLedOnOff(msg.payload.bigFire); \n\t\t\t}\n           if (typeof(msg.payload.smallFire) != \"undefined\") {\n\t\t\t\tradialBoil.blinkLed(msg.payload.smallFire); \n\t\t\t\tradialBoil.setLedOnOff(msg.payload.smallFire); \n\t\t\t}\n           if (typeof(msg.payload.trend) != \"undefined\")\n            {\n                if (msg.payload.trend==1)     radialBoil.setTrend(steelseries.TrendState.UP);\n                if (msg.payload.trend==0)     radialBoil.setTrend(steelseries.TrendState.STEADY);\n                if (msg.payload.trend==-1)    radialBoil.setTrend(steelseries.TrendState.DOWN);\n                if (msg.payload.trend==-2)    radialBoil.setTrend(steelseries.TrendState.OFF);\n            }\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(90, 99, 'rgba(0, 0, 220, 0.3)'),\n\t                        steelseries.Section(99, 101, 'rgba(0, 220, 0, 0.3)'),\n\t                        steelseries.Section(101, 104, 'rgba(220, 0, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(99, 101, 'rgba(0, 220, 0, 0.3)')],\n\n    radialBoil = new steelseries.Radial('canvasRadialBoil', {\n            gaugeType: steelseries.GaugeType.TYPE4,\n            size: 292,\n            section: sections,\n            area: areas,\n            titleString: \"Boil\",\n            unitString: \"\",\n            threshold: 99.5,\n//            thresholdVisible: false,\n            thresholdRising: false,\n            userLedVisible: true,\n            useOdometer: false,\n            lcdVisible: false,\n            trendVisible: true,\n\t\t\tuserLedColor: steelseries.LedColor.RED_LED,\n\t\t\tPointerType: steelseries.PointerType.TYPE11,\n\t\t\tFrameDesign: steelseries.FrameDesign.BLACK_METAL,\n\t\t\tframeVisible: false,\n\t\t\tminValue : 90,\n\t\t\tmaxValue : 104\n        });\n                       \n//    radial4.setFrameDesign(steelseries.FrameDesign.BLACK_METAL);\n    radialBoil.setValue(0);\n//    radialBoil.setThreshold(0);\n    radialBoil.blinkUserLed(0);\n//\tradial4.setPointerType(steelseries.PointerType.TYPE11)\n\n\n</script>\n\n<canvas id=\"canvasRadialBoil\" width=\"401\" height=\"401\"></canvas>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":550,"y":500,"wires":[[]]},{"id":"ae4fb624.c19028","type":"mqtt in","z":"ec38d5e7.788888","name":"boil/status","topic":"boil/status","qos":"0","datatype":"auto","broker":"3174b2d6.a4683e","x":100,"y":500,"wires":[["da9dd931.1c7d68"]]},{"id":"da9dd931.1c7d68","type":"json","z":"ec38d5e7.788888","name":"","x":308,"y":500,"wires":[["eca9c3e8.39b99","a755efe.43a201","85d23bfe.6de738","7d7f9e1d.33b6c"]]},{"id":"a755efe.43a201","type":"function","z":"ec38d5e7.788888","name":"","func":"if (msg.payload.timeFinish) {\n    msg.progress = 100 * (Date.now() - msg.payload.timeStart*1000) / (1000 * (msg.payload.timeFinish -msg.payload.timeStart));\n    data = new Date(msg.payload.timeStart * 1000);\n    msg.payload.timeStart = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n    data = new Date(msg.payload.timeFinish * 1000);\n    msg.payload.timeFinish = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n} else {\n    msg.progress = 0\n    msg.payload.timeStart = \"--:--\";\n    msg.payload.timeFinish = \"--:--\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":700,"wires":[["81cb2ca2.c5bb"]]},{"id":"81cb2ca2.c5bb","type":"ui_template","z":"ec38d5e7.788888","group":"27b14f07.3002f","name":"Boil Time Bar","order":3,"width":"6","height":"1","format":"<div layout=\"row\" layout-align=\"space-between center\">\n{{msg.payload.timeStart}}<progress value={{msg.progress}} max=\"100\"></progress>{{msg.payload.timeFinish}}\n</div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":560,"y":700,"wires":[[]]},{"id":"ca1cf283.7b6d5","type":"ui_switch","z":"ec38d5e7.788888","name":"boilReady","label":"Pronto ad iniziare","tooltip":"Completate tutte le azioni manuali","group":"27b14f07.3002f","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":620,"y":640,"wires":[["8ddedd8c.846e"]]},{"id":"8ddedd8c.846e","type":"mqtt out","z":"ec38d5e7.788888","name":"dashboard/boil/ready","topic":"dashboard/boil/ready","qos":"2","retain":"","broker":"3174b2d6.a4683e","x":800,"y":640,"wires":[]},{"id":"f6f50762.772248","type":"mqtt out","z":"ec38d5e7.788888","name":"dashboard/boil/setboil","topic":"dashboard/boil/setboil","qos":"2","retain":"","broker":"3174b2d6.a4683e","x":800,"y":580,"wires":[]},{"id":"85d23bfe.6de738","type":"function","z":"ec38d5e7.788888","name":"","func":"msg.payload=msg.payload.tempTarget;\nreturn msg;","outputs":1,"noerr":0,"x":364.8368377685547,"y":581.4410552978516,"wires":[["a98d7b46.5206b8"]]},{"id":"7d7f9e1d.33b6c","type":"function","z":"ec38d5e7.788888","name":"","func":"msg.payload=msg.payload.status;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":640,"wires":[["3e6fb6ba.b55c0a"]]},{"id":"162447dd.fd1898","type":"ui_switch","z":"ec38d5e7.788888","name":"spargeReady","label":"Pronto ad iniziare","tooltip":"Completate tutte le azioni manuali","group":"86264522.4140e8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":540,"y":180,"wires":[["666ec4e.e8b293c"]]},{"id":"bbddbba1.50d1d8","type":"ui_switch","z":"ec38d5e7.788888","name":"mashReady","label":"Pronto ad iniziare","tooltip":"Completate tutte le azioni manuali","group":"80f43cb5.c4184","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":678.5554656982422,"y":394.2222595214844,"wires":[["1303c67a.a16aca"]]},{"id":"59db7fe8.ebcf","type":"function","z":"ec38d5e7.788888","name":"","func":"msg.payload=msg.payload.status;\nreturn msg;","outputs":1,"noerr":0,"x":398.5554656982422,"y":394.2222595214844,"wires":[["426680fc.8f608"]]},{"id":"794a0f37.202ac","type":"function","z":"ec38d5e7.788888","name":"","func":"msg.payload=msg.payload.status;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["20f0e2e4.0a289e"]]},{"id":"666ec4e.e8b293c","type":"mqtt out","z":"ec38d5e7.788888","name":"dashboard/sparge/ready","topic":"dashboard/sparge/ready","qos":"2","retain":"","broker":"3174b2d6.a4683e","x":790,"y":180,"wires":[]},{"id":"1303c67a.a16aca","type":"mqtt out","z":"ec38d5e7.788888","name":"dashboard/mash/ready","topic":"dashboard/mash/ready","qos":"2","retain":"","broker":"3174b2d6.a4683e","x":888.5554656982422,"y":394.2222595214844,"wires":[]},{"id":"426680fc.8f608","type":"rbe","z":"ec38d5e7.788888","name":"","func":"rbe","gap":"","start":"","inout":"out","x":520.7912673950195,"y":394.7535171508789,"wires":[["bbddbba1.50d1d8"]]},{"id":"20f0e2e4.0a289e","type":"rbe","z":"ec38d5e7.788888","name":"","func":"rbe","gap":"","start":"","inout":"out","x":359.23860931396484,"y":180.53124237060547,"wires":[["162447dd.fd1898"]]},{"id":"3e6fb6ba.b55c0a","type":"rbe","z":"ec38d5e7.788888","name":"","func":"rbe","gap":"","start":"","inout":"out","x":490,"y":640,"wires":[["ca1cf283.7b6d5"]]},{"id":"351f0257.cb938e","type":"ui_slider","z":"ec38d5e7.788888","name":"","label":"Boil Temp","tooltip":"","group":"86264522.4140e8","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"99","max":"101","step":"0.1","x":620,"y":580,"wires":[["f6f50762.772248"]]},{"id":"a98d7b46.5206b8","type":"rbe","z":"ec38d5e7.788888","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":490,"y":580,"wires":[["351f0257.cb938e"]]},{"id":"988972b.2bb819","type":"function","z":"ec38d5e7.788888","name":"","func":"if (msg.payload.timeFinish) {\n    msg.progress = 100 * (Date.now() - msg.payload.timeStart*1000) / (1000 * (msg.payload.timeFinish -msg.payload.timeStart));\n    data = new Date(msg.payload.timeStart * 1000);\n    msg.payload.timeStart = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n    data = new Date(msg.payload.timeFinish * 1000);\n    msg.payload.timeFinish = data.getHours() + \":\" + ((data.getMinutes() < 10) ? \"0\" :\"\") + data.getMinutes();\n} else {\n    msg.progress = 0\n    msg.payload.timeStart = \"--:--\";\n    msg.payload.timeFinish = \"--:--\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["2997df13.fb2f1"]]},{"id":"2997df13.fb2f1","type":"ui_template","z":"ec38d5e7.788888","group":"86264522.4140e8","name":"Sparge Time Bar","order":3,"width":"6","height":"1","format":"<div layout=\"row\" layout-align=\"space-between center\">\n{{msg.payload.timeStart}}<progress value={{msg.progress}} max=\"100\"></progress>{{msg.payload.timeFinish}}\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":590,"y":120,"wires":[[]]},{"id":"c7bcafcf.80333","type":"ui_button","z":"366e0232.2ec6fe","name":"","group":"86264522.4140e8","order":6,"width":"0","height":"0","passthru":false,"label":"Ricarica Ricetta Boil","tooltip":"Ricarica parte boil della ricetta","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":120,"wires":[["a8c3b88e.28bb28"]]},{"id":"a8c3b88e.28bb28","type":"mqtt out","z":"366e0232.2ec6fe","name":"dashboard/mash/sendrecipe","topic":"dashboard/mash/sendrecipe","qos":"2","retain":"","broker":"3174b2d6.a4683e","x":480,"y":120,"wires":[]},{"id":"29db2a8e.1e3986","type":"ui_text","z":"366e0232.2ec6fe","group":"86264522.4140e8","order":5,"width":0,"height":0,"name":"","label":"Comandi Manuali","format":"{{msg.payload}}","layout":"row-center","x":210,"y":60,"wires":[]},{"id":"2d83235a.0a608c","type":"ui_template","z":"366e0232.2ec6fe","group":"86264522.4140e8","name":"Set Status","order":8,"width":0,"height":0,"format":"<div>\n\t<span flex>Tun: </span>\n\t<span flex>\n\t\t<select ng-model=\"selectedTun\" \n\t\t\t\tng-options='x.label for x in [ {label: \"Sparge\", nome:\"sparge\"},\n                                               {label: \"Boil\", nome:\"boil\"}]'>\n\t\t</select>\n\t</span>\n\t<span flex>Stato: </span>\n\t\t<select ng-model=\"selectedState\" \n\t\t\t\tng-options='x.label for x in [  {label: \"Warm./Fill.\", stato: 2},\n\t\t\t\t                                {label: \"Hot/Preboil\", stato: 3},\n\t\t\t\t                                {label: \"Sparging\", stato: 4}]'>\n\t\t</select>\n\t</span>\n\t<span flex >\n\t   <md-button class=\"md-icon-button\" ng-click=\"send({topic: 'dashboard/' + selectedTun.nome + '/setstatus', payload: selectedState.stato})\">\n\t        <ng-md-icon icon=\"play_arrow\"></ng-md-icon>\n\t   </md-button>\n\t</span>\n</div>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":190,"y":200,"wires":[["69f968db.d8cce8"]]},{"id":"69f968db.d8cce8","type":"mqtt out","z":"366e0232.2ec6fe","name":"","topic":"","qos":"","retain":"","broker":"3174b2d6.a4683e","x":410,"y":200,"wires":[]}]